h1{
    margin:auto;
    margin-top: 80px;
    text-align: center;
}
.Crear{
    border-radius: 10px;
    background-color: rgba(42, 120, 192, 0.733);
    color: aliceblue;
    border: none;
    width: 150px;
    height: 40px;
    transition: transform .2s ease;
    margin-bottom: 30px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.Crear:hover{
    cursor: pointer;
    transform: scale(1.1);    
}
table{
    width: 80%;
    margin: 0px auto;
    border-collapse: collapse;   
}
th{
    border:  rgba(80, 58, 173, 0.644) 4px solid;
    height: 40px;

}